<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verification Page</title>
  <link rel="stylesheet" href="/css/verification.css">
</head>

<body>
<div class="verification-container">
  <div class="form-section">
    <h2>Verify Your Account</h2>
    <p>Verification code sent to your Gmail</p>

    <div th:if="${error}" class="error-message">
      <p th:text="${error}"></p>
    </div>

    <form th:action="@{/verify}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div>
        <label>
          <input type="number" name="verificationCode" placeholder="Enter verification code" required>
        </label>
      </div>
      <button type="submit">Verify</button>
    </form>
  </div>
  <div class="image-section"></div>
</div>

</body>
</html>