body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    margin: 0;
}
.register-container {
    display: flex;
    background: white;
    border-radius: 32px;
    box-shadow: 0 0 70px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 900px;
    width: 90%;
    height: 600px;
}
.form-section {
    flex: 1;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.form-section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #111827;
}
.form-section p {
    margin-bottom: 1.5rem;
    color: #6b7280;
}
.error-message {
    color: red;
    margin-bottom: 1rem;
}
.form-section input {
    width: 70%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.form-section button {
    width: 70%;
    padding: 0.8rem;
    background-color: #4f46e5;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
.form-section button:hover {
    background-color: #4338ca;
}

.image-section {
    flex: 1;
    background: url('/images/register-background.gif') no-repeat center center;
    background-size: cover;
}

.image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Spinner tugmachalarni olib tashlash */
input[type=password]::-webkit-inner-spin-button,
input[type=password]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=password] {
    -moz-appearance: textfield;
}